.about {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 40px 20px;
  max-width: 320px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #f7ecdb;
  border-bottom: 1px solid #c5a76a;
  
}

.about__content {
  justify-content: center;
  text-align: center;
}


.title-about {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #1A1B22;
  margin-bottom: 40px;


}

.servicios__container {
  justify-content: center;
  text-align: center;
  align-items: center;



}

.servicios__container-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.icono-box {
  background-color: #C5A76A;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;


}



.title-container {
  font-family: Roboto Slab;
  font-size: 16px;
  margin-top: 20px;


}

.descrption-container {
  font-family: Roboto Slab;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}





@media screen and (min-width: 768px) {
  .about {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 40px 20px;
    max-width: 768px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .about__content {
    justify-content: center;
    text-align: center;
  }


  .title-about {
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #1A1B22;
    margin-bottom: 40px;


  }

  .servicios__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;



  }




  .icono-box {
    background-color: #C5A76A;
    width: 44px;
    height: 44px;
    border-radius: 10px;


  }




  .title-container {
    font-family: Roboto Slab;
    font-size: 18px;
    margin-top: 20px;


  }

  .descrption-container {
    font-family: Roboto Slab;
    font-size: 14px;
    margin-top: 20px;
  }

}

@media screen and (min-width: 1280px) {
  .about {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 40px 20px;
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid #c5a76a;
    
  }

  .about__content {
    justify-content: center;
    text-align: center;
  }


  .title-about {
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #1A1B22;
    margin-bottom: 40px;


  }

  .servicios__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;



  }



  .icono-box {
    background-color: #C5A76A;
    width: 46px;
    height: 46px;
    border-radius: 10px;

  }




  .title-container {
    font-family: Roboto Slab;
    font-size: 20px;
    margin-top: 20px;


  }

  .descrption-container {
    font-family: Roboto Slab;
    font-size: 16px;
    margin-top: 20px;
  }




}