.search-section {
    max-width: 320px;
    width: 100%;
    height: 280px;
    background-image: url('../../images/fondo-.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #c5a76a;
}


.overlay {
    background-color: rgba(52, 34, 20, 0.8);
    width: 230px;
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;



}

.search-title {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0px;
    width: 230px;
    height: auto;
    opacity: 1;
    text-align: center;
    color: white;

}

.search-paragraph {
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0px;
    width: 230px;
    height: auto;
    text-align: center;
    color: white;

}


.search-button {
    font-family: Roboto;
    font-size: 12px;
    width: 156px;
    height: 38px;
    opacity: 1;
    background-color: #C5A76A;
    cursor: pointer;
    text-align: center;
    padding: 12px 20px;
    color: #1A1B22;
    margin: 0;
    border-radius: 10px;
    text-decoration: none;


}




@media screen and (min-width: 768px) {
    .search-section {
        max-width: 768px;
        width: 100%;
        height: 362px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #c5a76a;


    }

    .overlay {
        background-color: rgba(52, 34, 20, 0.8);
        width: 392px;
        height: 230px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 15px;



    }

    .search-title {
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0px;
        width: 386px;
        height: auto;
        opacity: 1;
        text-align: center;
        color: white;

    }

    .search-paragraph {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        width: 608px;
        height: auto;
        text-align: center;
        color: white;

    }


    .search-button {
        font-family: Roboto;
        font-size: 20px;
        width: 246px;
        height: 58px;
        opacity: 1;
        background-color: #C5A76A;
        padding: 14px 20px;
        cursor: pointer;
        text-align: center;
        color: #1A1B22;
        margin: 0;


    }

}

@media screen and (min-width: 1280px) {
    .search-section {
        max-width: 1440px;
        width: 100%;
        height: 496px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #c5a76a;


    }

    .overlay {
        background-color: rgba(52, 34, 20, 0.8);
        width: 608px;
        height: 320px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 20px;



    }

    .search-title {
        font-size: 32px;
        line-height: 1;
        letter-spacing: 0px;
        width: 608px;
        height: auto;
        opacity: 1;
        text-align: center;
        color: white;

    }

    .search-paragraph {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0px;
        width: 608px;
        height: auto;
        text-align: center;
        color: white;

    }


    .search-button {
        font-family: Roboto;
        font-size: 24px;
        width: 268px;
        height: 64px;
        opacity: 1;
        background-color: #C5A76A;
        cursor: pointer;
        text-align: center;
        color: #1A1B22;
        margin: 0;
        


    }

}