.header {
  max-width: 320px;
  width: 100%;
  height: 56px;
  opacity: 1;
  background-color: #f7ecdb;
  border-bottom: 1px solid #c5a76a;



}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;

}

.header-logo {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  width: 56px;
  height: 28px;
  opacity: 1;
  margin-left: 16px;
  color: #FFFFFF;
}

.header__nav-desktop {
  display: none;
}

.header__nav-mobile {
  max-width: 320px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  gap: 20px;
  background-color: #f7ecdb;
  z-index: 100;
}


.header__nav-link {
  font-family: JosefinSans;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  text-decoration: none;
  color: #000;
  margin-left: 16px;
}





.header__burger {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 110;
  margin-right: 16px;
}

.header__burger-close {
  width: 30px;
  height: 30px;
  color: black;
}

.header__burger-line {
  width: 16px;
  border: 2px solid black;
  margin: 3px 0;
}





@media screen and (min-width: 768px) {

  .header {
    max-width: 768px;
    width: 100%;
    height: 66px;
    opacity: 1;

  }

  .header__container {
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }


  .header-logo {
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    width: 68px;
    height: 42px;
    opacity: 1;
    color: #FFFFFF;
  }

  .header__nav-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    gap: 20px;

  }

  .header__nav-mobile {
    display: none;

  }

  .header__nav-link {
    font-family: JosefinSans;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-decoration: none;
    color: #000;

  }

  .header__nav-link:hover {
    text-decoration: underline;
  }


  .header__burger {
    display: none;
  }




}

@media screen and (min-width: 1280px) {
  .header {
    max-width: 1440px;
    width: 100%;
    height: 80px;
    opacity: 1;


  }

  .header__container {
    justify-content: space-between;
    align-items: center;

  }



  .header-logo {
    font-family: Roboto Slab;
    font-weight: 700px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    width: 72px;
    height: 48px;
    opacity: 1;


  }

  .header__nav-desktop {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }

  .header__nav-mobile {
    display: none;
  }


  .header__nav-link {
    font-family: JosefinSans;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-decoration: none;


  }

  .header__nav-link:hover {
    text-decoration: underline;
  }


  .header__burger {
    display: none;
  }




}