/* .root {
  background-color: #f5e4c8;
}

  .hero {
    position: relative;
    background-color: #F5F6F7;
    padding: 0 30px;  
    min-height: 200px;
  }

  .about__section {
    background-color: #FFFFFF;
    margin: 0 auto; 
    padding: 0 30px;  
    position: relative; 
    z-index: 1; 
  }  */

